<div class="span12">
    <h3>Contact</h3>
   <div class="row-fluid contact-displays">
    <a id="contactlink" href="mailto:jandjorgensen@gmail.com"><span id="contact-gplus-display" class="contact-display">{{ site.contact.first.before }}</span>
    <span id="contact-twitter-display" class="contact-display">{{ site.contact.second.before }}</span>
    <span>jandjorgensen</span>
    <span id="contact-email-display" class="contact-display">{{ site.contact.third.after }}</span>
  </div></a>
  <div id="contactbuttons" class="row-fluid">
  <div class="span2 offset3"><a href="{{ site.contact.first.link }}"><button id="contact-gplus" class="btn pull-left contact">{{ site.contact.first.name }}</button></a></div>
  <div class="span2 offset1"><a href="{{ site.contact.second.link }}"><button id="contact-twitter" class="btn pull-left contact">{{ site.contact.second.name }}</button></a></div>
  <div class="span2 offset1"><a href="{{ site.contact.third.link }}" ><button id="contact-email" class="btn pull-left contact">{{ site.contact.third.name }}</button></a></div>
  </div>
</div>