<div id="contact" class="row-fluid marketing">
  <div class="span12">
      <h3>Contact</h3>
     <div class="row-fluid contact-displays">
      <a id="contactlink" href="mailto:jandjorgensen@gmail.com"><span id="contact-gplus-display" class="contact-display">bit.ly /</span>
      <span id="contact-twitter-display" class="contact-display"> @</span>
      <span>jandjorgensen</span>
      <span id="contact-email-display" class="contact-display">@ gmail.com</span>
    </div></a>
    <div id="contactbuttons" class="row-fluid">
    <div class="span2 offset3"><a href="https://plus.google.com/115540309451468063882/posts"><button id="contact-gplus" class="btn pull-left contact">Google+</button></a></div>
    <div class="span2 offset1"><a href="http://twitter.com/jandjorgensen"><button id="contact-twitter" class="btn pull-left contact">Twitter</button></a></div>
    <div class="span2 offset1"><a href="mailto:jandjorgensen@gmail.com" ><button id="contact-email" class="btn pull-left contact">Email</button></a></div>
    </div>
  </div>
</div>