<div id="programming" class="row-fluid marketing">
        <div class="span12">
            <h3>Programming</h4>
            <p>
                I think words like "beginner," "amateur," and "expert" (or even fun words like "ninja")
                are not constructive when describing a programmer's profeciency with a language or 
                technology.  I'm also a quick learner who specializes in learning by doing, and
                believe that time spent using a language is only one small factor in overall ability.  
                I've listed my understanding of technologies by my exposure to them.
            </p>
        </div>
        <div id="programmingbuttons" class="row-fluid">
            <div class="span3"><button class="btn pull-right span8" data-toggle="button" rel="tooltip" title="I've read about this enough to talk about it, or have used a technology based on it, and I am confident in my ability to learn more." value="familiar">Familiar</button></div>
            <div class="span3"><button class="btn btn-info pull-right span8" data-toggle="button" rel="tooltip" title="I have used this at least briefly and would have no qualms using it in a project." value="dabbled">Dabbled</button></div>
            <div class="span3"><button class="btn btn-primary pull-right span8" data-toggle="button" rel="tooltip" title="I consider myself well-versed in this and have used it in at least one full project." value="used">Used</button></div>
            <div class="span3"><button class="btn btn-success pull-right span8" data-toggle="button" rel="tooltip" title="I likely use this on a regular basis or I have used it in multiple projects. I feel I could teach someone how to use it." value="immersed">Immersed</button></div>
        </div>
        <div id="technologies">
          <div class="row-fluid immersed detailed">
            <h4>jQuery</h4>
            <div value="100" class="span12 bar"></div>
          </div>
            <div class="row-fluid immersed">
                <h4>Twitter Bootstrap</h4>
                <div value="100" class="span12 bar"></div>
            </div>
            <div class="row-fluid immersed">
                <h4>PHP</h4>
                <div value="90" class="span12 bar"></div>
            </div>
            <div class="row-fluid immersed">
                <h4>MySQL</h4>
                <div value="80" class="span12 bar"></div>
            </div>
          <div class="row-fluid used">
            <h4>Android</h4>
            <div value="70" class="span12 bar"></div>
          </div>
            <div class="row-fluid used">
                <h4>Python</h4>
                <div value="65" class="span12 bar"></div>
            </div>
          <div class="row-fluid used">
            <h4>Git</h4>
            <div value="60" class="span12 bar"></div>
          </div>
            <div class="row-fluid dabbled">
                <h4>Perl</h4>
                <div value="40" class="span12 bar"></div>
            </div>
            <div class="row-fluid dabbled">
                <h4>Subversion</h4>
                <div value="35" class="span12 bar"></div>
            </div>
          <div class="row-fluid familiar">
            <h4>CakePHP</h4>
            <div value="15" class="span12 bar"></div>
          </div>
          <div class="row-fluid familiar">
            <h4>Ruby</h4>
            <div value="10" class="span12 bar"></div>
          </div>
        </div>
      </div>