<div class="span12">
    <h3>Skills</h3>
    <div class="row-fluid skill">
    <h4>Cooking</h4>
    <p>
      I'm a generally modest person, but I'll admit cooking is an area in which I excel.  I started young and have cooked and baked on a regular basis ever since.  I worked for a few summers in a camp kitchen making birthday cakes, cooking hundreds of pancakes for breakfasts, doing fast-paced prep work, and admittedly doing a lot of dishes too.  My senior year of high school (a residential school, the <a href="http://www.ncssm.edu">North Carolina School of Science and Mathematics</a>), I baked bread each week and sold it for spending money.  I also spent a summer working in a bakery where my primary culinary task was preparing their signature lunch special: chicken salad.  The regular bread baker was also able to take his first vacation in a decade, trusting me to bake hundreds of loaves of bread in his place while he was gone.
    </p>
    <p>
      More recently, I was ecstatic to help <a href="http://www.standupforkids.org/phoenix/">StandUp For Kids Phoenix</a> with a pancake breakfast fundraiser.  This reminded me how much I love to cook for a large scale, and how fufilling it is.  If you know a charitable organization (or even a bereaved family) that needs food for any reason <b><a href="#contact">get in touch with me right now.</a></b>  I can just about guarantee I'll be happy to help. 
    </p>
  </div>
</div>