 body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

.contact-displays{
  text-align: center;
  font-size: large;
  padding: 40px;
}

.contact-display{
  display: none;
}
      
ul.affix{
	position: fixed;
	margin-left: -150px;
}
.affix li{
	clear: right;
	text-align: right;
	float: right;
}

.familiar .ui-widget-header{
	background-color: whiteSmoke;
background-image: -moz-linear-gradient(top,white,#E6E6E6);
background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#E6E6E6));
background-image: -webkit-linear-gradient(top,white,#E6E6E6);
background-image: -o-linear-gradient(top,white,#E6E6E6);
background-image: linear-gradient(to bottom,white,#E6E6E6);
background-repeat: repeat-x;
border: 1px solid #BBB;
border-color: #E6E6E6 #E6E6E6 #BFBFBF;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
border-bottom-color: #A2A2A2;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
}    
.dabbled .ui-widget-header{
	background-color: #49AFCD;
background-image: -moz-linear-gradient(top,#5BC0DE,#2F96B4);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#5BC0DE),to(#2F96B4));
background-image: -webkit-linear-gradient(top,#5BC0DE,#2F96B4);
background-image: -o-linear-gradient(top,#5BC0DE,#2F96B4);
background-image: linear-gradient(to bottom,#5BC0DE,#2F96B4);
background-repeat: repeat-x;
border-color: #2F96B4 #2F96B4 #1F6377;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.used .ui-widget-header{
	background-color: #006DCC;
background-image: -moz-linear-gradient(top,#08C,#04C);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#08C),to(#04C));
background-image: -webkit-linear-gradient(top,#08C,#04C);
background-image: -o-linear-gradient(top,#08C,#04C);
background-image: linear-gradient(to bottom,#08C,#04C);
background-repeat: repeat-x;
border-color: #04C #04C #002A80;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}    
.immersed .ui-widget-header{
	background-color: #5BB75B;
background-image: -moz-linear-gradient(top,#62C462,#51A351);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#62C462),to(#51A351));
background-image: -webkit-linear-gradient(top,#62C462,#51A351);
background-image: -o-linear-gradient(top,#62C462,#51A351);
background-image: linear-gradient(to bottom,#62C462,#51A351);
background-repeat: repeat-x;
border-color: #51A351 #51A351 #387038;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}